.container{
    padding:1.3rem;
    background: rgb(241, 238, 238);
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

.backDropContainer{
    width: 100%;
    height:30vh;
    background:url(https://plus.unsplash.com/premium_photo-1701764129092-c1288a4826c6?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDV8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwwfDB8fHww);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;

}

.backDropContainer>img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    text-align: center;
    left:8%;

}

.profile_container_details{
    padding-top:6.6rem;
    display: flex;
    
}

.connectBtn{
    padding-inline:0.8rem;
    padding-block:0.3rem;
    background: rgb(29, 125, 221);
    border:none;
    outline:none;
    color:white;
    border-radius: 10px;
    cursor: pointer;
}

.connectedBtn{
    padding-inline:0.8rem;
    padding-block:0.3rem;
    border:1px solid grey;
    outline:none;
    color:rgb(29, 125, 221);
    border-radius: 10px;
    cursor: pointer;
}

.postCard{
    display:flex;
    padding-block: 1.2rem;
    padding-inline: 1.2rem;
    gap:0.4rem;

}
/* For the Recent Activity images (the 0.2 column) */
.card_profileContainer img {
    width: 90%;       
    height: 100%;       
    object-fit: cover;   
    display: block;
}
.workHistory_container{
    display: flex;
    gap:1.4rem;
    padding-top:1.4rem;
    width: 100%;
    flex-wrap: wrap;
}

.workHistory_card{
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block:2rem;
    box-shadow: 10px 10px 10px 0px rgb(173, 173, 173);
}

.education{
    gap:1.2rem;
    margin-top: 2rem;
}

.education_container{
    display: flex;
    justify-content: start;
    gap:1.4rem;
    padding-top:1.4rem;
    width: 100%;
    flex-wrap: wrap;
}
.education_card{
    min-width: fit-content;
    font-weight: bold;
    padding-inline: 2.5rem;
    padding-block:2rem;
    box-shadow: 10px 10px 10px 0px rgb(173, 173, 173);
}

.profile_container_flex{
    display:flex;
    gap:0.7rem;
}

@media only screen and (max-width: 600px) {
    .profile_container_flex{
        flex-direction: column;
    }
    .postCard{
        flex-direction: column;
        padding-top: 0.5rem;
        

    }
    .card_profileContainer{
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
}